@font-face {
    font-family: 'great_vibesregular';
    src: url('../font/greatvibes-regular-webfont.woff2') format('woff2'),
    url('../font/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
        }
        


body {
     background-color: #f8f2e7;                     
     }
img {
    width: 400px;
    border-radius: 10px;
               
}
.top-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    position: relative;
 
    padding-top: 40px;
    margin-left: 25px;
    margin-right: 50px;
    background-color: transparent;
}

.logo {
    font-size: 50px;
    font-weight: 100;
    font-family: 'great_vibesregular',sans-serif;
    color: black;
    text-decoration: none;

}
h1 {
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    font-size: medium;
    padding-top: 10%;         
}

.logo1 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'great_vibesregular',sans-serif;
    color: black;
}

.menu-icon {
    display: none;
}
#menuToggle {
    display: none;
} 

.menu div ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.menu a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    
}
.menu a:hover {
    background-color: #ddd;
    color: black;
}

.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-container {
   display: flex; 
   flex-wrap: wrap;
   flex-grow: 10;
   

}
.container-image-and-title {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    font-size: xx-large;
    padding-bottom: 30px;
    margin-left: 20%;
    
}
        
.container-ingrediens {
    display: flex;
    flex-direction: column;
    width: 30%;
}

   
.container-metods {
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

.social-container {
    display: flex;
    flex-direction: column;
    padding: 30px; 
    margin-top: 10%;          
}
.social-container a {
    margin-bottom: 30px;
    text-decoration: none;
}
footer {
    text-align: center;

}   

